p{color: rgb(21, 20, 22);}
body{background-color: rgb(82, 144, 185);}
.FärgSvart{color: white;}
#Start{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 100px;
}



.LänkText{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 20px;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
