p {font-family:"Times New Roman", Times, Serif;
font-size: 20px;
color: black; 
border-style: solid;
border-color: black;} 
body {background-color: rgb(238, 132, 132)}
head {color:black; 
text-align:center}